@import "vars"; /*==========  Desktop First  ==========*/
// ≥1200px
@include media-breakpoint-down(lg) {}
// ≥992px
@include media-breakpoint-down(md) {
  .header .g-btn {
    display: none !important;
  }

  .top {
    display: none;
  }

  .top-bg {
    right: 0;
  }

  .we {
    display: none;
  }

  .porfolio__item {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .porfolio {
    &__duo {
      width: 100%;

      & > * {
        width: 100%;
      }
    }
  }

  .full-logo {
    display: none !important;
  }

  .mini-logo {
    display: inline-block !important;
  }
}
// ≥768px
@include media-breakpoint-down(sm) {
  .header__phone {
    //display: none;
  }

  .stages__arrows {
    display: flex !important;
  }

  .header__btn {
    margin: 0;
  }

  .main-cosmonaut {
    display: none;
  }

  .why {
    .container {
      height: auto;
    }

    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__first {
      width: 350px;
      max-width: 100%;
      margin-top: 100px;
    }

    &__second {
      width: 350px;
      max-width: 100%;
      margin-top: 100px;
    }

    &__third {
      width: 350px;
      max-width: 100%;
      margin-top: 100px;
    }
  }

  .we {
    display: none;

    h3 {}
  }

  .services {
    &__item {
      margin: 0 auto 48px;
    }
  }

  .porfolio {
    &__duo {
      width: 100%;

      & > * {
        width: 100%;
      }
    }
  }

  .slider-bg-1,
  .slider-bg-2 {
    display: none;
  }

  .top-bg {
    position: absolute;
    top: 0;
    right: 0;
  }

  .ads-logos,
  .porfolio,
  .reviews,
  .services,
  .stages,
  .trust,
  .we,
  .why {
    padding: 50px 0;
  }

  .main {
    padding-bottom: 50px;
  }

  .ads-logos {
    background: radial-gradient(794.82px at 50% 50%, #799efc57 0%, rgba(0, 0, 0, 0) 29%);
    background-position: 0;

    &__item {
      margin: 10px 25px;
    }

    &__item1 {
      width: 50px;
    }

    &__item2 {
      width: 50px;
    }

    &__item3 {
      width: 200px;
    }

    &__item4 {
      width: 163px;
    }

    &__item5 {
      width: 50px;
    }

    &__item6 {
      width: 125px;
    }

    &__item7 {
      width: 250px;
    }
  }

  .trust .trust__logos__logo {
    width: 30%;
    padding: 10px;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 33px;
    line-height: 36px;
  }

  .team__items {
    margin: 0 -15px;
  }

  .team__item {
    width: 47%;
    margin: 0 5px 60px 6px;
  }

  .footer__contacts {
    flex-direction: column;
    padding: 0;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .map {
    overflow: hidden;

    img {
      width: auto !important;
      height: 100%;
    }
  }

  .footer {
    position: relative;

    .container {
      position: initial;
    }
  }

  .reviews {
    display: none;
  }
  // .trust__logos{
  //     align-items: center;
  //     flex-direction: column;
  // }
}
// ≥576px
@include media-breakpoint-down(xs) {
  h1 {
    font-size: 29px;
    line-height: 41px;
  }

  .main__subh {
    margin-bottom: 30px;
  }

  .stage-item {
    &__title {
      width: 125px;
      font-size: 14px;
    }
  }

  .why {
    background: none;

    &:before {
      bottom: -1379px;
    }

    &__astronaut {
      width: 350px;
      bottom: -250px;
      left: 100px;
    }

    &__grid {
      width: 750px;
      left: -150px;
      bottom: -500px;
    }
  }
}
/*==========  Mobile First  ==========*/
// ≤576px
@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: 485px;
  }

  .big-modal {
    .modal-dialog {
      max-width: 754px;
    }
  }
}
// ≤768px
@include media-breakpoint-up(md) {}
// ≤992px
@include media-breakpoint-up(lg) {}
// ≤1200px
@include media-breakpoint-up(xl) {}