<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <!-- <base href="/"> -->

  <title>Разработка сайтов от студии GALAXY по цене фриланса</title>
  <meta name="description" content="Разработка сайтов от студии GALAXY по цене фриланса">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
  <!-- Template Basic Images End -->

  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#000">
  <!-- Custom Browsers Color End -->

  <link rel="stylesheet" href="css/main.css">

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function(m, e, t, r, i, k, a) {
      m[i] = m[i] || function() {
        (m[i].a = m[i].a || []).push(arguments)
      };
      m[i].l = 1 * new Date();
      k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(55268272, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/55268272" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  <script src="//code.jivosite.com/widget.js" data-jv-id="Ks7MdrYU2P" async></script>

  <!-- Facebook Pixel Code -->
  <!-- Marquiz script start -->
  <script src="//script.marquiz.ru/v1.js" type="application/javascript"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      Marquiz.init({
        id: '5d7f7700c5993e0044db9f15',
        autoOpen: false,
        autoOpenFreq: 'once',
        openOnExit: false
      });
    });
  </script>
  <!-- Marquiz script end -->
  <!-- Marquiz script start -->
  <script>
    (function(w, d, s, o) {
      var j = d.createElement(s);
      j.async = true;
      j.src = '//script.marquiz.ru/v2.js';
      j.onload = function() {
        if (document.readyState !== 'loading') Marquiz.init(o);
        else document.addEventListener("DOMContentLoaded", function() {
          Marquiz.init(o);
        });
      };
      d.head.insertBefore(j, d.head.firstElementChild);
    })(window, document, 'script', {
      host: '//quiz.marquiz.ru',
      region: 'eu',
      id: '6103ee9b70f3c1003f678c29',
      autoOpen: false,
      autoOpenFreq: 'once',
      openOnExit: false,
      disableOnMobile: false
    });
  </script>
  <!-- Marquiz script end -->
  <script>
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '962890054061909');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=962890054061909&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  <script>
    fbq('track', 'Lead');
  </script>
</head>

<body>

  <div class="wrapper" id="app">



    <header class="header" id="header">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="#" class="logo">
          <img src="./img/full-logo.svg" alt="" class="full-logo">
          <img src="./img/m-logo.svg" alt="" class="mini-logo">
        </a>
        <div>
          <a href="#popup:marquiz_5d7f7700c5993e0044db9f15" class="g-btn g-btn--blue">Расчет стоимости</a>

          <a href="tel:+79220085868" class="header__phone">+7 922 008-58-68</a>
        </div>
      </div>
    </header>

    <section class="main">
      <div class="container">
        <div class="row">
          <div class="main__left col-md-8">
            <h1>Разработка сайтов от студии GALAXY по цене фриланса</h1>
            <p class="main__subh">Настройка рекламы в подарок!</p>
            <!-- <button class="g-btn g-btn--blue" data-toggle="modal" data-target="#paymentGalaxyModal">Расчет стоимости</button> -->
            <a href="#popup:marquiz_5d7f7700c5993e0044db9f15" class="g-btn g-btn--blue">Расчет стоимости</a>
            <p>Уже есть сайт?</p>
            <button class="g-btn g-btn--link" data-toggle="modal" data-target="#galaxyModal">Получи бесплатный экспресс-аудит сайта</button>

            <!-- <div class="main__logos">
              <img src="./img/tagline.png" alt="tagline">
              <img src="./img/ruward.png" alt="ruward">
            </div> -->
          </div>
          <div class="main__right col-md-4">
          </div>
        </div>
        <img src="./img/main-cosmonaut.png" class="main-cosmonaut" alt="">

      </div>

    </section>

    <section class="why">
      <div class="container">
        <img class="why__astronaut" src="./img/why/astronaut.png" alt="">
        <img class="why__grid" src="./img/why/grid.png" alt="">
        <div class="why__items">
          <div class="why__first">
            <span class="why__bigNumber">1</span>
            <h3>Конверсия от 20% до 50%</h3>
            <p>Наши лендинги хорошо конвертируют посетителей в целевые действия. Напишите нам, и мы отправим скриншоты с подтверждением</p>
          </div>
          <div class="why__second">
            <span class="why__bigNumber">2</span>
            <h3>Делаем сайты быстро</h3>
            <p>Мы делаем предварительную аналитику и погружаемся в ваш проект.
              Но несмотря на это, делаем сайты за 2-3 недели</p>
          </div>
          <div class="why__third">
            <span class="why__bigNumber">3</span>
            <h3>Делаем сайты красиво</h3>
            <p>Мы сделаем классный и уникальный дизайн для вашего лендинга.
              Он может быть серьёзным или неформальным, в зависимости от ваших задач</p>
          </div>
        </div>
      </div>
      <!-- <img src="./img/grid.svg" alt="" class="grid img-fluid"> -->

    </section>


    <section class="we" :class="[{'we__circles--hover': svgClass}, '']">
      <div class="container">
        <img class="parallax__ufo" src="./img/parallax/ufo.svg" alt="">
        <div class="row">
          <div class="col-md-3 we__galaxy">
            <h3>Команда GALAXY</h3>
          </div>
          <div class="col-md-3">
            <h3>Обычное агентство</h3>
          </div>
          <div class="col-md-3">
            <h3>Удалённый фрилансер</h3>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-3 galaxy">
            <svg width="256" height="258" viewBox="0 0 256 258" fill="none" xmlns="http://www.w3.org/2000/svg" class="we__circles">
              <g clip-path="url(#clip0)">
                <g :class="{ 'selected' : c_1}" class="g1" @mouseover="c_1 = !c_1" @mouseout="c_1 = !c_1">
                  <path d="M135.737 4.83348C82.7126 1.49028 31.3128 32.2825 10.8745 84.4011C-14.4615 149.009 17.3745 221.922 81.9821 247.258C146.59 272.594 219.503 240.758 244.839 176.151C255.174 149.797 255.996 122.062 248.962 96.7371"
                    stroke="#A866FD" stroke-width="4" />
                  <circle cx="146.51" cy="3.77507" r="2.83611" fill="#A866FD" />
                </g>
                <g :class="{ 'selected' : c_2}" class="g2" @mouseover="c_2 = !c_2" @mouseout="c_2 = !c_2">
                  <path d="M135.305 22.6288C90.3362 19.7935 46.7449 45.9078 29.4115 90.1087C7.92452 144.901 34.9241 206.738 89.7167 228.225C144.509 249.712 206.346 222.713 227.833 167.92C236.598 145.57 237.295 122.048 231.329 100.571"
                    stroke="#FF2466" stroke-width="4" />
                  <circle cx="146.51" cy="21.7375" r="2.83611" fill="#FF2466" />
                </g>

                <g :class="{ 'selected' : c_3}" class="g3" @mouseover="c_3 = !c_3" @mouseout="c_3 = !c_3">
                  <path d="M133.86 42.8409C97.0152 40.5178 61.2989 61.9145 47.0969 98.1302C29.4916 143.024 51.6135 193.69 96.5076 211.295C141.402 228.9 192.067 206.778 209.673 161.884C216.854 143.572 217.425 124.3 212.537 106.702" stroke="#FF00E5"
                    stroke-width="4" />
                  <circle cx="146.51" cy="41.6447" r="2.83611" fill="#FF00E5" />
                </g>
                <g :class="{ 'selected' : c_4}" class="g4" @mouseover="c_4 = !c_4" @mouseout="c_4 = !c_4">
                  <path d="M133.738 62.9835C105.133 61.1799 77.4037 77.7917 66.3776 105.908C52.7094 140.763 69.8842 180.098 104.739 193.766C139.593 207.435 178.928 190.26 192.597 155.405C198.172 141.188 198.615 126.226 194.82 112.563"
                    stroke="#1129FF" stroke-width="4" />
                  <circle cx="146.51" cy="62.4426" r="2.83611" fill="#1129FF" />
                </g>
                <g :class="{ 'selected' : c_5}" class="g5" @mouseover="c_5 = !c_5" @mouseout="c_5 = !c_5">
                  <path d="M131.425 84.0382C111.74 82.797 92.6585 94.2285 85.0709 113.577C75.6651 137.562 87.484 164.631 111.469 174.037C135.454 183.443 162.523 171.624 171.929 147.639C175.765 137.855 176.071 127.558 173.459 118.157" stroke="#6A00D5"
                    stroke-width="4" />
                  <circle cx="146.51" cy="83.2409" r="2.83611" fill="#6A00D4" />
                </g>
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="256" height="258" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="col-md-3 agency">
            <svg width="256" height="258" viewBox="0 0 256 258" fill="none" xmlns="http://www.w3.org/2000/svg" class="we__circles">
              <g clip-path="url(#clip0)">
                <g :class="{ 'selected' : c_1}" class="g1" @mouseover="c_1 = !c_1" @mouseout="c_1 = !c_1">
                  <path d="M135.737 4.83348C82.7126 1.49028 31.3128 32.2825 10.8745 84.4011C-14.4615 149.009 17.3745 221.922 81.9821 247.258C146.59 272.594 219.503 240.758 244.839 176.151C255.174 149.797 255.996 122.062 248.962 96.7371"
                    stroke="#A866FD" stroke-width="4" />
                  <circle cx="146.51" cy="3.77507" r="2.83611" fill="#A866FD" />
                </g>
                <g :class="{ 'selected' : c_2}" class="g2" @mouseover="c_2 = !c_2" @mouseout="c_2 = !c_2">
                  <path d="M135.305 22.6288C90.3362 19.7935 46.7449 45.9078 29.4115 90.1087C7.92452 144.901 34.9241 206.738 89.7167 228.225C144.509 249.712 206.346 222.713 227.833 167.92C236.598 145.57 237.295 122.048 231.329 100.571"
                    stroke="#FF2466" stroke-width="4" />
                  <circle cx="146.51" cy="21.7375" r="2.83611" fill="#FF2466" />
                </g>

                <g :class="{ 'selected' : c_3}" class="g3" @mouseover="c_3 = !c_3" @mouseout="c_3 = !c_3">
                  <path d="M133.86 42.8409C97.0152 40.5178 61.2989 61.9145 47.0969 98.1302C29.4916 143.024 51.6135 193.69 96.5076 211.295C141.402 228.9 192.067 206.778 209.673 161.884C216.854 143.572 217.425 124.3 212.537 106.702" stroke="#FF00E5"
                    stroke-width="4" />
                  <circle cx="146.51" cy="41.6447" r="2.83611" fill="#FF00E5" />
                </g>
                <g :class="{ 'selected' : c_4}" class="g4" @mouseover="c_4 = !c_4" @mouseout="c_4 = !c_4">
                  <path d="M133.738 62.9835C105.133 61.1799 77.4037 77.7917 66.3776 105.908C52.7094 140.763 69.8842 180.098 104.739 193.766C139.593 207.435 178.928 190.26 192.597 155.405C198.172 141.188 198.615 126.226 194.82 112.563"
                    stroke="#1129FF" stroke-width="4" />
                  <circle cx="146.51" cy="62.4426" r="2.83611" fill="#1129FF" />
                </g>
                <g :class="{ 'selected' : c_5}" class="g5" @mouseover="c_5 = !c_5" @mouseout="c_5 = !c_5">
                  <path d="M131.425 84.0382C111.74 82.797 92.6585 94.2285 85.0709 113.577C75.6651 137.562 87.484 164.631 111.469 174.037C135.454 183.443 162.523 171.624 171.929 147.639C175.765 137.855 176.071 127.558 173.459 118.157" stroke="#6A00D5"
                    stroke-width="4" />
                  <circle cx="146.51" cy="83.2409" r="2.83611" fill="#6A00D4" />
                </g>
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="256" height="258" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="col-md-3 freelance">
            <svg width="256" height="258" viewBox="0 0 256 258" fill="none" xmlns="http://www.w3.org/2000/svg" class="we__circles">
              <g clip-path="url(#clip0)">
                <g :class="{ 'selected' : c_1}" class="g1" @mouseover="c_1 = !c_1" @mouseout="c_1 = !c_1">
                  <path d="M135.737 4.83348C82.7126 1.49028 31.3128 32.2825 10.8745 84.4011C-14.4615 149.009 17.3745 221.922 81.9821 247.258C146.59 272.594 219.503 240.758 244.839 176.151C255.174 149.797 255.996 122.062 248.962 96.7371"
                    stroke="#A866FD" stroke-width="4" />
                  <circle cx="146.51" cy="3.77507" r="2.83611" fill="#A866FD" />
                </g>
                <g :class="{ 'selected' : c_2}" class="g2" @mouseover="c_2 = !c_2" @mouseout="c_2 = !c_2">
                  <path d="M135.305 22.6288C90.3362 19.7935 46.7449 45.9078 29.4115 90.1087C7.92452 144.901 34.9241 206.738 89.7167 228.225C144.509 249.712 206.346 222.713 227.833 167.92C236.598 145.57 237.295 122.048 231.329 100.571"
                    stroke="#FF2466" stroke-width="4" />
                  <circle cx="146.51" cy="21.7375" r="2.83611" fill="#FF2466" />
                </g>

                <g :class="{ 'selected' : c_3}" class="g3" @mouseover="c_3 = !c_3" @mouseout="c_3 = !c_3">
                  <path d="M133.86 42.8409C97.0152 40.5178 61.2989 61.9145 47.0969 98.1302C29.4916 143.024 51.6135 193.69 96.5076 211.295C141.402 228.9 192.067 206.778 209.673 161.884C216.854 143.572 217.425 124.3 212.537 106.702" stroke="#FF00E5"
                    stroke-width="4" />
                  <circle cx="146.51" cy="41.6447" r="2.83611" fill="#FF00E5" />
                </g>
                <g :class="{ 'selected' : c_4}" class="g4" @mouseover="c_4 = !c_4" @mouseout="c_4 = !c_4">
                  <path d="M133.738 62.9835C105.133 61.1799 77.4037 77.7917 66.3776 105.908C52.7094 140.763 69.8842 180.098 104.739 193.766C139.593 207.435 178.928 190.26 192.597 155.405C198.172 141.188 198.615 126.226 194.82 112.563"
                    stroke="#1129FF" stroke-width="4" />
                  <circle cx="146.51" cy="62.4426" r="2.83611" fill="#1129FF" />
                </g>
                <g :class="{ 'selected' : c_5}" class="g5" @mouseover="c_5 = !c_5" @mouseout="c_5 = !c_5">
                  <path d="M131.425 84.0382C111.74 82.797 92.6585 94.2285 85.0709 113.577C75.6651 137.562 87.484 164.631 111.469 174.037C135.454 183.443 162.523 171.624 171.929 147.639C175.765 137.855 176.071 127.558 173.459 118.157" stroke="#6A00D5"
                    stroke-width="4" />
                  <circle cx="146.51" cy="83.2409" r="2.83611" fill="#6A00D4" />
                </g>
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="256" height="258" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>

          <div class="col-md-3">
            <ul class="advantages-list">
              <li class="adv-list-1" :class="{'adv-list-selected' : c_1}" @mouseover="c_1 = !c_1" @mouseout="c_1 = !c_1">Стоимость</li>
              <li class="adv-list-2" :class="{'adv-list-selected' : c_2}" @mouseover="c_2 = !c_2" @mouseout="c_2 = !c_2">Сроки</li>
              <li class="adv-list-3" :class="{'adv-list-selected' : c_3}" @mouseover="c_3 = !c_3" @mouseout="c_3 = !c_3">Клиентоориентированность</li>
              <li class="adv-list-4" :class="{'adv-list-selected' : c_4}" @mouseover="c_4 = !c_4" @mouseout="c_4 = !c_4">Многозадачность</li>
              <li class="adv-list-5" :class="{'adv-list-selected' : c_5}" @mouseover="c_5 = !c_5" @mouseout="c_5 = !c_5">Работа по договору</li>
            </ul>
          </div>
        </div>
      </div>
      <img src="./img/grid.svg" alt="" class="grid img-fluid">
    </section>

    <section class="services">
      <div class="container">
        <h2>Виды оказываемых услуг</h2>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="./img/services/1.svg" alt="">
              </div>
              <h4 class="services__item__title">
                Продающий лендинг
              </h4>
              <div class="services__item__text">
                Одностраничный сайт, целью которого чаще всего является получение трафика и заявок. Цель такого сайта – высокая конверсия и, соответственно, повышение продаж. А с рекламой мы поможем вам бесплатно.
              </div>
              <div class="services__item__border">
                <span>
                  <span>
                    <span></span>
                  </span>
                </span>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="./img/services/2.svg" alt="">
              </div>
              <h4 class="services__item__title">
                Промо-сайт
              </h4>
              <div class="services__item__text">
                Сайт с WOW-эффектом. Благодаря такому сайту каждый сможет заявить о себе, своём бренде, осветить событие, мероприятие. У ваших конкурентов не останется шансов!
              </div>
              <div class="services__item__border">
                <span>
                  <span>
                    <span></span>
                  </span>
                </span>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="./img/services/3.svg" alt="">
              </div>
              <h4 class="services__item__title">
                Корпоративный сайт
              </h4>
              <div class="services__item__text">
                Лояльность ваших клиентов напрямую зависит от качества вашего сайта. Корпоративный сайт должен обладать своей фирменной стилистикой, а также правильно транслировать концепцию компании.
              </div>
              <div class="services__item__border">
                <span>
                  <span>
                    <span></span>
                  </span>
                </span>
              </div>
            </div>

          </div>
          <!-- <div class="col-md-6 col-lg-4">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="./img/services/4.svg" alt="">
              </div>
              <h4 class="services__item__title">
                Интернет-магазин
              </h4>
              <div class="services__item__text">
                Создадим интернет-магазин максимально ориентированный на целевую аудиторию, интегрируем CRM и CMS для обеспечения удобства пользования сайтом, поможем в продвижении товаров. Пользователь захочет купить то, что вы продаёте.
              </div>
              <div class="services__item__border">
                <span>
                  <span>
                    <span></span>
                  </span>
                </span>
              </div>
            </div>

          </div> -->
          <!-- <div class="col-md-6 col-lg-4">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="./img/services/5.svg" alt="">
              </div>
              <h4 class="services__item__title">
                Новостные порталы и сервисы
              </h4>
              <div class="services__item__text">
                Высоконагруженные и объемные сайты нуждаются в правильном планировании и программировании. А наша команда обожает сложные задачи.
              </div>
              <div class="services__item__border">
                <span>
                  <span>
                    <span></span>
                  </span>
                </span>
              </div>
            </div>

          </div> -->
          <!-- <div class="col-md-6 col-lg-4">
            <div class="services__item">
              <div class="services__item__icon">
                <img src="./img/services/6.svg" alt="">
              </div>
              <h4 class="services__item__title">
                Нестандартные решения
              </h4>
              <div class="services__item__text">
                Есть идея, которую, как вы считаете, никто не в состоянии реализовать? Возьмёмся за самый нестандартный проект любой сложности.
              </div>
              <div class="services__item__border">
                <span>
                  <span>
                    <span></span>
                  </span>
                </span>
              </div>
            </div>

          </div> -->
        </div>
      </div>
    </section>

    <section class="stages">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h2>Этапы работы</h2>
            <p>Каждый из этапов подконтролен вам. Мы согласовываем с вами все ключевые моменты, так что у вас есть возможность в режиме реального времени следить за выполнением задачи.
              <br>
              <br>
              Гибкость в работе позволяет сдать работу в срок и получить желаемый результат. Наведите мышкой на этапы, чтобы узнать детали!
            </p>
            <div class="stages-block-wrapp">
              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 0">
                  <h3>Интервьюирование</h3>
                  <p>Перед созданием сайта ваш личный проджект-менеджер задаст вам правильные вопросы и уточнит все ваши пожелания, чтобы понять специфику проекта и полностью погрузиться в него.</p>
                </div>
              </transition>

              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 1">
                  <h3>Аналитика</h3>
                  <p>Аналитик проведет конкурентный анализ для определения сильных и слабых сторон ваших конкурентов и найдет возможности выделиться из массы.</p>
                </div>
              </transition>

              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 2">
                  <h3>Копирайтинг</h3>
                  <p>Параллельно с дизайнером копирайтер, опираясь на портрет целевой аудитории, готовит текст и визуальные эллементы для вашего сайта. </p>
                </div>
              </transition>

              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 5">
                  <h3>Верстка</h3>
                  <p>Верстальщик конвертирует работу дизайнера непосредственно в сайт.</p>
                </div>
              </transition>

              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 4">
                  <h3>Дизайн</h3>
                  <p>После подготовки прототипа дизайнер приступает к отрисовке, опираясь на аналитическую работу, портрет целевой аудитории, фирменный стиль вашей компании и тренды в дизайне.</p>
                </div>
              </transition>

              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 3">
                  <h3>Подготовка прототипа</h3>
                  <p>Дизайнер создаёт схематичный прототип сайта, что происходит не без вашего участия. Вы приходите к общему пониманию со специалистом и в результате получаете то, что вам нужно.</p>
                </div>
              </transition>

              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 6">
                  <h3>Программирование</h3>
                  <p>Программист или группа программистов (в зависимости от сложности проекта) занимаются настройкой внутренней и внешней технической составляющей сайта, оживляют сайт, доводят его до рабочего состояния.</p>
                </div>
              </transition>

              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 7">
                  <h3>Продвижение сайта</h3>
                  <p>После запуска сайта вы получаете в подарок бесплатную настройку рекламы в актуальных для вашей целевой аудитории рекламных системах.</p>
                </div>
              </transition>

              <transition name="slide-fade">

                <div class="stages__block" v-if="stage == 8">
                  <h3>Запуск</h3>
                  <p>Только после всех предудущих этапов происходит запуск готового продукта - вашего сайта. </p>
                </div>
              </transition>

            </div>


            <div class="stages__arrows .d-block .d-sm-none">
              <div class="left" v-on:click="stage == 0 ? stage : stage -= 1">&#8249;</div>
              <div class="right" v-on:click="stage == 8 ? stage : stage += 1">&#8250;</div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="stages-block">
              <div class="stage-item stage-item-0" @mouseover="stage = 0" :class="{'active-stage' : stage == 0 }">
                <span class="stage-item__num">01</span>
                <span class="stage-item__title">Интервьюирование</span>
              </div>
              <div class="stage-item stage-item-1" @mouseover="stage = 1" :class="{'active-stage' : stage == 1 }">
                <span class="stage-item__num">02</span>
                <span class="stage-item__title">Аналитика</span>
              </div>
              <div class="stage-item stage-item-2" @mouseover="stage = 2" :class="{'active-stage' : stage == 2 }">
                <span class="stage-item__num">03</span>
                <span class="stage-item__title">Копирайтинг</span>
              </div>
              <div class="stage-item stage-item-5" @mouseover="stage = 5" :class="{'active-stage' : stage == 5 }">
                <span class="stage-item__num">06</span>
                <span class="stage-item__title">Верстка</span>
              </div>
              <div class="stage-item stage-item-4" @mouseover="stage = 4" :class="{'active-stage' : stage == 4 }">
                <span class="stage-item__num">05</span>
                <span class="stage-item__title">Дизайн</span>
              </div>
              <div class="stage-item stage-item-3" @mouseover="stage = 3" :class="{'active-stage' : stage == 3 }">
                <span class="stage-item__num">04</span>
                <span class="stage-item__title">Подготовка прототипа</span>
              </div>
              <div class="stage-item stage-item-6" @mouseover="stage = 6" :class="{'active-stage' : stage == 6 }">
                <span class="stage-item__num">07</span>
                <span class="stage-item__title">Программирование</span>
              </div>
              <div class="stage-item stage-item-7" @mouseover="stage = 7" :class="{'active-stage' : stage == 7 }">
                <span class="stage-item__num">08</span>
                <span class="stage-item__title">Продвижение сайта</span>
              </div>
              <div class="stage-item stage-item-8" @mouseover="stage = 8" :class="{'active-stage' : stage == 8 }">
                <span class="stage-item__num">09</span>
                <span class="stage-item__title">Запуск</span>
              </div>
              <img src="./img/stages-line.svg" alt="" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
      <img src="./img/grid.svg" alt="" class="stages__grid img-fluid">

    </section>



    <section class="porfolio">

      <div class="container">
        <img class="parallax__satellite" src="./img/parallax/satellite.svg" alt="">
        <h2>Портфолио</h2>
        <div class="porfolio__items">
          <div class="porfolio__item">
            <a href="https://brutal.klatz.pro" class="porfolio__item__text" target="_blank">
              <span>Лендинг для бренда зубных паст Klatz</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/klatz.png" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/klatz.png" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__duo">
            <div class="porfolio__item">
              <a href="https://cosmos.klatz.pro" class="porfolio__item__text" target="_blank">
                <span>Лендинг для бренда зубных паст Klatz</span>
                <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
              </a>

              <img src="img/portfolio/klatz2.png" class="img-fluid d-none d-md-block" alt="">
              <img src="img/portfolio/mobil/klatz2.png" class="img-fluid d-md-none" alt="">
            </div>
            <div class="porfolio__item">
              <a href="https://бюбхен.рф" class="porfolio__item__text" target="_blank">
                <span>Лендинг для бренда детской косметики Bübchen</span>
                <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
              </a>

              <img src="img/portfolio/bubchen.png" class="img-fluid d-none d-md-block" alt="">
              <img src="img/portfolio/mobil/bubchen.png" class="img-fluid d-md-none" alt="">
            </div>
          </div>

          <div class="porfolio__item">
            <a href="https://www.behance.net/gallery/78690113/Web-site-of-Mayakovsky-museum" class="porfolio__item__text" target="_blank">
              <span>Проект сайта музея Маяковского</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/1.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/1.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href="https://www.behance.net/gallery/81428661/Web-site-for-company-of-registration-of-medical-devices" class="porfolio__item__text" target="_blank">
              <span>Сайт регистрации медицинского оборудования Regfort</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/2.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/2.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href="#" class="porfolio__item__text" target="_blank">
              <span>s7</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/10.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/10.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href="https://www.behance.net/gallery/69050935/GALAXY-Studio-Website" class="porfolio__item__text" target="_blank">
              <span>Сайт веб-студии GALAXY</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/4.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/4.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href="https://www.behance.net/gallery/78068135/Landing-page-of-online-school" class="porfolio__item__text" target="_blank">
              <span>Сайт школы ментальной арифметики Быстрее всех</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/5.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/5.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href=" https://www.behance.net/gallery/78482529/Landing-page-of-paint-store" class="porfolio__item__text" target="_blank">
              <span>Интернет-магазин красок ApeksPro</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/6.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/6.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href="https://www.behance.net/gallery/75219797/Online-store-of-products-for-babies" class="porfolio__item__text" target="_blank">
              <span>Интернет-магазин детской одежды TOTO</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/7.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/7.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href="https://www.behance.net/gallery/78435439/Web-site-of-air-conditioners" class="porfolio__item__text" target="_blank">
              <span>Интернет-магазин кондиционеров Эйр ТК Трейд</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/8.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/8.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href="https://www.behance.net/gallery/70436937/Marketing-Agency-Website" class="porfolio__item__text" target="_blank">
              <span>Сайт агентства продаж Спасибо</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/9.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/9.jpg" class="img-fluid d-md-none" alt="">
          </div>
          <div class="porfolio__item">
            <a href="https://www.behance.net/gallery/75277227/Website-of-remote-sales-team-Landing-page" class="porfolio__item__text" target="_blank">
              <span>Одностраничный сайт дистанционного отдела продаж</span>
              <img src="./img/external-link.svg" alt="" class="porfolio__item__link">
            </a>

            <img src="img/portfolio/3.jpg" class="img-fluid d-none d-md-block" alt="">
            <img src="img/portfolio/mobil/3.jpg" class="img-fluid d-md-none" alt="">
          </div>

        </div>
      </div>
    </section>

    <section class="trust">
      <div class="container">
        <h2>Нам доверяют</h2>
        <div class="trust__logos">
          <div class="trust__logos__logo"><img src="./img/logos/klatz.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/colief.png" alt="" width="170" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/bubchen.png" alt="" width="200" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/batiste.png" alt="" width="180" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/1.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/2.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/3.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/4.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/5.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/6.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/7.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/8.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/9.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/10.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/11.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/12.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/13.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/14.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/15.png" alt="" class="img-fluid"></div>
          <div class="trust__logos__logo"><img src="./img/logos/16.png" alt="" class="img-fluid"></div>
        </div>
      </div>
      <img src="./img/grid.svg" alt="" class="trust__grid img-fluid">
    </section>

    <section class="reviews">
      <div class="container">
        <h2>Отзывы</h2>
        <div class="slider-wrapp">
          <div class="swiper-container reviews__slider" id="reviews__slider">
            <div class="swiper-wrapper">

              <div class="reviews__slide swiper-slide">
                <div class="reviews__slide__left">
                  <div class="reviews__slide__thumb">
                    <img src="./img/reviews/1.png" alt="">
                  </div>
                  <div class="reviews__slide__name">Виталий Морозов<br>Генеральный директор<br>Эйр ТК Трейд</div>

                </div>
                <div class="reviews__slide__right">
                  <p>Интернет-магазин кондиционеров</p>
                  <p class="m-0">Была поставлена задача рассортировать большое количество товаров с множеством характеристик. Ребята справились отлично. Сегодня на сайте более 500 позиций, но навигация на сайте не затруднена, и каждую единицу товара
                    очень просто найти. Подрядчик по разработке для меня определён на долгие годы.</p>
                </div>

              </div>
              <div class="reviews__slide swiper-slide">
                <div class="reviews__slide__left">
                  <div class="reviews__slide__thumb">
                    <img src="./img/reviews/2.png" alt="">
                  </div>
                  <div class="reviews__slide__name">Дарья Васюкова<br>Основатель бренда<br>десткой одежды TOTO</div>

                </div>
                <div class="reviews__slide__right">
                  <p>Интернет магазин детской одежды</p>
                  <p class="m-0">На протяжении долгого времени не могла найти добросовестных дизайнеров и разработчиков. Некоторые из них не понимали моих задач, другие просто не могли сделать так, как требовалось. Уже была готова понизить требования
                    к исполнителям. Но сотрудничество с Galaxy стало для меня приятным исключением. Ребята услышали меня и сделали именно то, что мне было нужно. Очень им благодарна. Буду обращаться только к ним.</p>
                </div>

              </div>
              <div class="reviews__slide swiper-slide">
                <div class="reviews__slide__left">
                  <div class="reviews__slide__thumb">
                    <img src="./img/reviews/3.png" alt="">
                  </div>
                  <div class="reviews__slide__name">Елена Спирина <br>Основатель<br>онлайн-школы <br>ментальной <br>арифметики</div>

                </div>
                <div class="reviews__slide__right">
                  <p>Онлайн-школы по моментальному счету для детей</p>
                  <p class="m-0">Команда GALAXY по сути сделала нам бизнес нуля. Задача стояла в создании онлайн-школы. В итоге разработаны: два landing page, фирменный стиль школы (нейминг, лого, цвета). Отсняты видеоматериалы, настроена реклама, а
                    также ресурсы для проведения вебинаров. Благодаря этому сейчас у меня процветающая онлайн-платформа для обучения детей. Спасибо большое ребятам - очень надеюсь на продолжение сотрудничества!</p>
                </div>

              </div>
              <div class="reviews__slide swiper-slide">
                <div class="reviews__slide__left">
                  <div class="reviews__slide__thumb">
                    <img src="./img/reviews/4.png" alt="">
                  </div>
                  <div class="reviews__slide__name">Ольга Плесовских <br>Ключевой менеджер по <br>работе с арендаторами<br> в ТЦ Мега</div>

                </div>
                <div class="reviews__slide__right">
                  <p>Сайт по работе с арендаторами ТЦ Мега</p>
                  <p class="m-0">В нашем подразделении компании IKEA требовалось оптимизировать внутреннюю работу с арендаторами торгового центра Мега. Как всегда горели сроки и требовалось реализовать проект “вчера”. Ребята пошли на встречу и
                    сделали всё невероятно быстро. От лица нашего отдела хочу выразить благодарность. На данный момент ведётся диалог о запуске второго проекта с командой Galaxy.</p>
                </div>

              </div>
            </div>
            <div class="slider-controls">
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-prev"></div>
            </div>

          </div>
          <div class="slider-bg-1"></div>
          <div class="slider-bg-2"></div>
        </div>

      </div>
    </section>

    <section class="ads-logos">
      <div class="container">
        <h2>Настраиваем рекламу в различных каналах продаж</h2>
        <div class="ads-logos__items">
          <div class="ads-logos__item"><img src="./img/ads-logos/1.svg" alt="" class="img-fluid ads-logos__item1"></div>
          <div class="ads-logos__item "><img src="./img/ads-logos/2.svg" alt="" class="img-fluid ads-logos__item2"></div>
          <div class="ads-logos__item "><img src="./img/ads-logos/5.svg" alt="" class="img-fluid ads-logos__item5"></div>
          <div class="ads-logos__item "><img src="./img/ads-logos/4.svg" alt="" class="img-fluid ads-logos__item4"></div>
          <div class="ads-logos__item "><img src="./img/ads-logos/3.svg" alt="" class="img-fluid ads-logos__item3"></div>
          <div class="ads-logos__item "><img src="./img/ads-logos/6.svg" alt="" class="img-fluid ads-logos__item6"></div>
          <div class="ads-logos__item "><img src="./img/ads-logos/7.svg" alt="" class="img-fluid ads-logos__item7"></div>
        </div>
      </div>
    </section>

    <section class="team">
      <div class="container">
        <img class="parallax__astronaut" src="./img/parallax/astronaut-woman.svg" alt="">

        <h2>Команда</h2>
        <div class="team__items">

          <div class="team__item ">

            <img class="team__item__img" src="./img/team/1.png" alt="">
            <img class="team__item__info" src="./img/team/information.svg" alt="">
            <div class="team__item__name">Евгений Глушаков<br>Управляющий партнёр</div>
            <div class="team__item__text">Руководит процессами, занимается развитием компании, определяет новые тенденции работы студии, мониторит процесс взаимодействия с клиентами.</div>
          </div>


          <div class="team__item ">
            <img class="team__item__img" src="./img/team/2.png" alt="">
            <img class="team__item__info" src="./img/team/information.svg" alt="">
            <div class="team__item__name">Роман Битнер<br>Арт-директор</div>
            <div class="team__item__text">Креативный директор, идейный гуру, человек, ответственный за общую творческую составляющую и креативную концепцию в проектах компании. </div>
          </div>


          <div class="team__item ">
            <img class="team__item__img" src="./img/team/3.png" alt="">
            <img class="team__item__info" src="./img/team/information.svg" alt="">
            <div class="team__item__name">Максим Вторушин<br>Проджект-менеджер</div>
            <div class="team__item__text"> Посредник между вами и всей командой нашей компании. Человек, который углубляется в проект, максимально вовлекается в ваши задачи и конвертирует работу команды в ожидаемый результат.</div>
          </div>

          <div class="team__item team__item--dark">
            <img class="team__item__img" src="./img/team/4.png" alt="">
            <img class="team__item__info" src="./img/team/information.svg" alt="">
            <div class="team__item__name">Антон Волков<br>Главный дизайнер</div>
            <div class="team__item__text">Отвечает за процессы на этапах прототипирования и дизайна, визуально реализует все самые смелые и ориентированные на потребителя решения на страницах вашего сайта.</div>
          </div>
          <div class="team__item team__item--dark">
            <img class="team__item__img" src="./img/team/5.png" alt="">
            <img class="team__item__info" src="./img/team/information.svg" alt="">
            <div class="team__item__name">Дмитрий Кухарчук<br>Главный маркетолог</div>
            <div class="team__item__text">Проектирует стратегию привлечения целевой аудитории на сайт, помогает сделать сайт более продающим, занимается продвижением вашего бизнеса через интернет.</div>
          </div>
          <div class="team__item team__item--dark">
            <img class="team__item__img" src="./img/team/6.png" alt="">
            <img class="team__item__info" src="./img/team/information.svg" alt="">
            <div class="team__item__name">Магомед Сагов<br>Главный программист</div>
            <div class="team__item__text">Руководит процессами верстки и программирования, распределяет задачи между техническими специалистами. Понимает, какое технологическое решение лучше всего подойдёт вашему бизнесу.</div>
          </div>
        </div>
      </div>
    </section>


    <section class="price-calculator">
      <div class="container">
        <h2>Рассчитать стоимость сайта</h2>
        <div data-marquiz-id="6103ee9b70f3c1003f678c29"></div>
        <script type="application/javascript">
          (function(t, p) {
            window.Marquiz ? Marquiz.add([t, p]) : document.addEventListener('marquizLoaded', function() {
              Marquiz.add([t, p])
            })
          })('Inline', {
            id: '6103ee9b70f3c1003f678c29',
            buttonText: 'Пройти тест',
            bgColor: '#d3f4ff',
            textColor: '#363636',
            rounded: true,
            shadow: 'rgba(211, 244, 255, 0.5)',
            blicked: true,
            buttonOnMobile: true,
            width: '830',
            height: '490'
          })
        </script>
      </div>
    </section>


    <footer class="footer">
      <div class="container">
        <div class="footer__contacts">
          <form action="form.php/#work-with-us" class="form" method="POST">
            <h3>Хотите работать с нами?</h3>
            <p>Мы поможем реализовать ваши идеи.</p>
            <input type="hidden" name="title" value="Хотите работать с нами?">
            <p class="input-group"><input type="text" class="text-input" placeholder="Имя" name="name" required></p>
            <p class="input-group"><input type="text" class="text-input" placeholder="E-mail" name="email" required></p>
            <p class="input-group"><input type="text" class="text-input" placeholder="Телефон" name="phone" required></p>
            <p class="input-group"><input type="text" class="text-input" placeholder="Что нам стоит знать?" name="text"></p>
            <p class="input-group"><button class="form-btn btn">Отправить</button></p>
            <div class="confi-agreement input-group">
              <input type="checkbox" name="agreement" id="agreement_modal-form" class="agreement required" required>
              <label for="agreement_modal-form"><i class="g-checkbox"></i>
                <span>Я даю Согласие на обработку данных, в т.ч. отправку информационных сообщений.</span>
              </label>
            </div>
          </form>

          <div class="footer__contacts__info">
            <h3>GALAXY STUDIO</h3>
            <a href="tel:+79166356461" class="phone-link">+7 916 635 64 61</a>
            <p>Москва, Раушская набережная 4/5</p>
          </div>
        </div>
      </div>
      <div class="map">
        <img src="./img/contacts-bg.png" alt="">
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade big-modal" id="paymentGalaxyModal" tabindex="-1" role="dialog" aria-labelledby="paymentGalaxyModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-left">
              <h3>Расчет стоимости</h3>
              <p>
                Для более менее точной оценки стоимости проекта неоюходимо знать объёмы предстоящей работы: <br>
                - определить количество определённых специалистов, нужных для проекта,<br>
                - сложность проекта<br>
                - приблизительные сроки.<br>
                Отправьте запрос на расчёт стоимости и с вами свяжется наш сотрудник.
              </p>
            </div>
            <div class="modal-right">
              <form action="form.php#presentation" class="form" method="POST">
                <input type="hidden" name="title" value="Получить презентацию">
                <p class="input-group"><input type="text" class="text-input" placeholder="Имя" name="name" required></p>
                <p class="input-group"><input type="text" class="text-input" placeholder="E-mail" name="email" required></p>
                <p class="input-group"><input type="text" class="text-input" placeholder="Телефон" name="phone" required></p>
                <p class="input-group"><button class="form-btn btn ">Отправить</button></p>
                <div class="confi-agreement input-group">
                  <input type="checkbox" name="agreement" id="agreement_paymentGalaxyModal" class="agreement required" required>
                  <label for="agreement_paymentGalaxyModal"><i class="g-checkbox"></i>
                    <span>Я даю Согласие на обработку данных, в т.ч. отправку информационных сообщений.</span>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="galaxyModal" tabindex="-1" role="dialog" aria-labelledby="galaxyModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <h3 class="text-center">Бесплатный <br>экспресс-аудит сайта</h3>

            <form action="form.php#express" class="form" method="POST">
              <input type="hidden" name="title" value="Бесплатный экспресс-аудит сайта">
              <p class="input-group"><input type="text" class="text-input" placeholder="Имя" name="name" required></p>
              <p class="input-group"><input type="text" class="text-input" placeholder="E-mail" name="email" required></p>
              <p class="input-group"><input type="text" class="text-input" placeholder="Телефон" name="phone" required></p>
              <p class="input-group"><input type="text" class="text-input" placeholder="Сайт" name="site" required></p>
              <p class="input-group"><button class="form-btn btn ">Отправить</button></p>
              <div class="confi-agreement input-group">
                <input type="checkbox" name="agreement" id="agreement_modal" class="agreement required" required>
                <label for="agreement_modal"><i class="g-checkbox"></i>
                  <span>Я даю Согласие на обработку данных, в т.ч. отправку информационных
                    сообщений.</span>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/scripts.min.js"></script>
  <script type="text/javascript">
    let ufoDom = document.querySelector(".parallax__ufo");
    let ufoCurrent = {
      top: -50,
      right: 10
    };
    let satelliteDom = document.querySelector(".parallax__satellite");
    let satelliteCurrent = {
      top: 1500,
      left: -75
    };
    let astronautDom = document.querySelector(".parallax__astronaut");
    let astronautCurrent = {
      top: 450,
      right: 350
    };
    let savedScroll = window.pageYOffset;
    document.addEventListener("scroll", function() {
      let ufoPos = ufoDom.getBoundingClientRect().top;
      let satellitePos = satelliteDom.getBoundingClientRect().top;
      let astronautPos = astronautDom.getBoundingClientRect().top;
      if (ufoPos < document.documentElement.clientHeight && ufoPos > 0) {
        if (window.pageYOffset > savedScroll) {
          ufoCurrent.top -= 1;
          ufoCurrent.right += 1;
        } else {
          ufoCurrent.top += 1;
          ufoCurrent.right -= 1;
        }
        ufoDom.style.top = ufoCurrent.top + "px";
        ufoDom.style.right = ufoCurrent.right + "px";
      }
      if (satellitePos < document.documentElement.clientHeight && satellitePos > 0) {
        if (window.pageYOffset > savedScroll) {
          satelliteCurrent.top -= 1.25;
          satelliteCurrent.left += 0.75;
        } else {
          satelliteCurrent.top += 1;
          satelliteCurrent.left -= 1;
        }
        satelliteDom.style.top = satelliteCurrent.top + "px";
        satelliteDom.style.left = satelliteCurrent.left + "px";
      }
      if (astronautPos < document.documentElement.clientHeight && astronautPos > 0) {
        if (window.pageYOffset > savedScroll) {
          astronautCurrent.top -= 1;
          astronautCurrent.right -= 1;
        } else {
          astronautCurrent.top += 1;
          astronautCurrent.right += 1;
        }
        astronautDom.style.top = astronautCurrent.top + "px";
        astronautDom.style.right = astronautCurrent.right + "px";
      }
      savedScroll = window.pageYOffset;
    })
  </script>
  <!-- <img src="./img/top.svg" alt="" class="top"> -->
</body>

</html>